public/src/index.haml
!!! 5

%html
	%head
		%title goodo game
		%link{:rel=>"stylesheet", :href=>"main.css"}
	%body
		.site
			.title
				%p Game and stuff
			.content
				.resources
					%table
						%tr
							%th Resource
							%td.hidden.stone Stone
							%td.hidden.coal Coal
							%td.hidden.copper Copper

						%tr
							%th Amount
							%td.hidden.stone#stone 0
							%td.hidden.coal#coal 0
							%td.hidden.copper#copper 0
				.mine
					%button#mineB{:onclick=>"mine(Player.Upgrades.mineAtOnce)"} Mine

				.upgrades
					%p upgrades
			.navigation
				%p navigation
			.footer
				%p footer
	%script{:src=>"main.js"}

public/index.html
<!DOCTYPE html>
<html>
<head>
<title>goodo game</title>
<link href='main.css' rel='stylesheet'>
</head>
<body>
<div class='site'>
<div class='title'>
<p>Game and stuff</p>
</div>
<div class='content'>
<div class='resources'>
<table>
<tr>
<th>Resource</th>
<td class='hidden stone'>Stone</td>
<td class='hidden coal'>Coal</td>
<td class='hidden copper'>Copper</td>
</tr>
<tr>
<th>Amount</th>
<td class='hidden stone' id='stone'>0</td>
<td class='hidden coal' id='coal'>0</td>
<td class='hidden copper' id='copper'>0</td>
</tr>
</table>
</div>
<div class='mine'>
<button id='mineB' onclick='mine(Player.Upgrades.mineAtOnce)'>Mine</button>
</div>
<div class='upgrades'>
<p>upgrades</p>
</div>
</div>
<div class='navigation'>
<p>navigation</p>
</div>
<div class='footer'>
<p>footer</p>
</div>
</div>
</body>
<script src='main.js'></script>
</html>
